:root {
    /* Font */
    --Sansita: 'Sansita', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --font-stack: Helvetica,6 sans-serif;
    /* Colors */
    --primarycolor: #3573bb;
    --secundarycolor:rgb(168, 39, 0);

    /* Colors Iconos */
    --fillfacebook: #0e0e9c;
    --fillwhatsapp: #008011;
    --fillinstagram: #9c0c0c;
    --fillemail: #f0f0f0;
    --fillallicons: rgb(54, 0, 0);
    --fillhovericons: rgb(209, 9, 9);

    /* Alert messages */
    /* Background */

    /* Border */

    /* Font */
    --lineleft: 100px;
    --title: 70px;
    --textnormal: 25px;
/* 
    --colorrowA: <?php echo $botontop; ?>;
    --colorrowB: $botonleft; */
}