.cajacard{
    width: 100%;
    max-width: 1200%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
    }
    .cajacarddos{
        width: 330px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    }
    .cajacarddos:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
    }
    
    