.icons{
    fill: var(--fillallicons);
    cursor: pointer;
    border-radius: 10px;
    transition:0.4s;
    box-shadow: rgb(204, 219, 232)
    3px 3px 6px 0px,
    rgba(255, 255, 255)
    -3px -3px 6px 1px;

    &:hover{
fill: var(--fillhovericons);
transform: translateY(-10px);

    }
}
.face{
    fill: var(--fillfacebook);
}