@charset "UTF-8";
button {
  cursor: pointer;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

:root {
  /* Font */
  --Sansita: "Sansita", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --font-stack: Helvetica,6 sans-serif;
  /* Colors */
  --primarycolor: #3573bb;
  --secundarycolor:rgb(168, 39, 0);
  /* Colors Iconos */
  --fillfacebook: #0e0e9c;
  --fillwhatsapp: #008011;
  --fillinstagram: #9c0c0c;
  --fillemail: #f0f0f0;
  --fillallicons: rgb(54, 0, 0);
  --fillhovericons: rgb(209, 9, 9);
  /* Alert messages */
  /* Background */
  /* Border */
  /* Font */
  --lineleft: 100px;
  --title: 70px;
  --textnormal: 25px;
  /* 
      --colorrowA: <?php echo $botontop; ?>;
      --colorrowB: $botonleft; */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
/* Inherit fonts for inputs and buttons */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1024px;
}

.icono {
  fill: rgb(54, 0, 0);
  cursor: pointer;
}
.icono:hover {
  fill: rgb(255, 0, 0);
}

footer {
  color: black;
  align-items: baseline;
  width: 100%;
  height: 40vh;
  background-color: rgb(255, 255, 255);
}
footer .cajauno {
  padding-top: 30px;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}
footer .cajauno .cajasocial {
  background-color: #ffffff;
  display: inline;
}
footer .cajauno .cajasocial .cajalogo {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
footer .cajauno .cajasocial .cajadescripcion {
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
}
footer .cajauno .cajasocial .cajasocialiconos {
  display: flex;
  background-color: #ffffff;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}
footer .cajauno .cajainformation {
  background-color: #ffffff;
}
footer .cajauno .cajainformation .tituloinformation {
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 20px;
}
footer .cajauno .cajainformation .enlaceinformation {
  list-style: none;
  padding-bottom: 10px;
  cursor: pointer;
}
footer .cajauno .cajainformation .enlaceinformation:hover {
  color: #3000db;
}

.for {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.CajaFor {
  background-color: #3d1515;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.reservarfondo {
  opacity: 0.8;
}

.etiqueta {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 100px;
  left: 550px;
}

.ingresar {
  border-radius: 15px;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 150px;
  left: 550px;
}

.Cajamenu {
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  box-shadow: 2px 2px 5px #035adb;
  z-index: 100;
  padding-left: var(--lineleft);
  padding-right: 50px;
}
.Cajamenu_logo {
  border-radius: 20px;
  float: left;
}
.Cajamenu_nombre {
  font-family: var(--Sansita);
  font-size: 25px;
  color: #0a0a0a;
  float: left;
  padding-left: 15px;
}
.Cajamenu_nav-item {
  display: inline-block;
  margin-left: 50px;
  font-size: 15px;
}
.Cajamenu_nav-link {
  font-size: 18px;
  font-family: var(--Sansita);
  width: 110px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
}
.Cajamenu_nav-link:hover {
  border-bottom: 1px solid #003cff;
  color: rgb(34, 9, 255);
}
.Cajamenu_nav-link:focus {
  color: rgb(255, 123, 0);
}
.Cajamenu_cajabotonis {
  font-family: var(--Roboto);
  font-size: 12px;
  color: white;
  width: 120px;
  height: 35px;
  border-radius: 25px;
  border: none;
  background-color: #176bca;
}
.Cajamenu_cajabotonis:hover {
  background-color: rgb(168, 39, 0);
  transform: translateY(-2px);
  transform: scale(0.9);
}

.icons {
  fill: var(--primarycolor);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgb(255, 255, 255) -3px -3px 6px 1px;
}
.icons:hover {
  fill: var(--secundarycolor);
  transform: translateY(-10px);
}

.facebook {
  fill: rgb(0, 99, 247);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgb(255, 255, 255) -3px -3px 6px 1px;
}
.facebook:hover {
  fill: var(--fillhovericons);
  transform: translateY(-10px);
}

.whatssap {
  fill: green;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgb(255, 255, 255) -3px -3px 6px 1px;
}
.whatssap:hover {
  fill: var(--fillhovericons);
  transform: translateY(-10px);
}

.email {
  fill: rgb(197, 23, 0);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgb(255, 255, 255) -3px -3px 6px 1px;
}
.email:hover {
  fill: var(--fillhovericons);
  transform: translateY(-10px);
}

.instagram {
  fill: red;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgb(255, 255, 255) -3px -3px 6px 1px;
}
.instagram:hover {
  fill: var(--fillhovericons);
  transform: translateY(-10px);
}

.mensengger {
  fill: rgb(0, 102, 255);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgb(255, 255, 255) -3px -3px 6px 1px;
}
.mensengger:hover {
  fill: var(--fillhovericons);
  transform: translateY(-10px);
}

.boton {
  width: 120px;
  height: 30px;
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 15px;
  top: 400px;
  left: 100px;
}

.boton::before {
  content: "";
  position: absolute;
  background: rgb(73, 0, 0);
  left: -10px;
  width: 10px;
  top: 0;
  bottom: 0;
}

.boton:hover::before {
  left: calc(100% + 10px);
  transition: left 500ms;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60vh;
}
.footer_ubicacion_mapa {
  width: 300px;
  height: 250px;
}
.footer_informacion {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}
.footer_informacion_logonombre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 130px;
  height: 40px;
}
.footer_informacion_logonombre_foto {
  width: 30px;
  height: 30px;
  border-radius: 35px;
}
.footer_informacion_logonombre_titulo {
  font-size: 25px;
  font-family: var(--Sansita);
}
.footer_informacion_texto {
  padding-top: 10px;
  font-family: var(--Roboto);
}
.footer_informacion_texto_parrafo {
  text-align: justify;
}
.footer_suscribirse {
  position: relative;
  width: 320px;
  height: 200px;
  background-color: rgb(255, 255, 255);
}
.footer_suscribirse_iconos {
  padding-top: 90px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footer_cuadroConocenos {
  display: flex;
  position: absolute;
  left: 0px;
  top: 60px;
  width: 200px;
  height: 40px;
  border: 1px solid rgb(65, 0, 51);
  background-color: rgba(255, 255, 255, 0.4392156863);
  padding-left: 15px;
  border-radius: 0.5rem 0 0 0.5rem;
  color: rgb(0, 0, 0);
  font-family: var(--Roboto);
  align-items: center;
  font-size: 18px;
}
.footer_libro {
  display: flex;
  position: absolute;
  left: 199px;
  top: 60px;
  width: 50px;
  height: 40px;
  border: 1px solid rgb(65, 0, 51);
  background-color: rgba(23, 107, 202, 0.7882352941);
  justify-content: center;
  align-items: center;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}
.footer_libro:hover {
  background-color: rgb(189, 39, 0);
}

.cuerpo {
  position: absolute;
  top: 90px;
  left: 190px;
  width: 70%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.685);
  padding: 20px;
  border-radius: 25px;
}

.imgenslider {
  height: 100vh;
  width: 1000px;
}

.container-all {
  position: relative;
  max-width: 1300px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
}

.slide {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

.pagination-item:hover {
  transform: scale(3);
}

.pagination-item img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img {
  opacity: 1;
  transform: scale(2);
}

input[id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
  background: #fff;
}

input[id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-100%, 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
  background: #fff;
}

input[id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-200%, 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
  background: #fff;
}

@keyframes autoplay {
  33% {
    transform: translate3d(0%, 0, 0);
  }
  66% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}
.cajacard {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.925);
  width: 330px;
  height: 420px;
  border-radius: 10px;
  box-shadow: 0 2px rgba(241, 241, 241, 0.767);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.cajacard_imagen {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  padding-bottom: 15px;
}
.cajacard_titulo {
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 15px;
  font-family: var(--Sansita);
}
.cajacard_descripcion {
  font-size: 15px;
  font-family: var(--Roboto);
  padding-bottom: 15px;
}
.cajacard_cajabotondos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cajacard_cajaboton {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  background-color: var(--primarycolor);
  cursor: pointer;
  text-decoration: none;
}
.cajacard_cajaboton:hover {
  transform: translateY(-4px);
}

.cajacard:hover {
  transform: translateY(-20px);
  box-shadow: 0 12px 16px rgba(240, 234, 234, 0.548);
}

.welcomeheader {
  position: relative;
  width: 100%;
  height: 100vh;
}
.welcomeheader_title {
  font-family: var(--Sansita);
  left: var(--lineleft);
  font-size: var(--title);
  position: absolute;
  top: 140px;
  color: black;
  letter-spacing: 3px;
}
.welcomeheader_logo {
  position: absolute;
  width: 360px;
  height: 320px;
  left: 909px;
  top: 190px;
  animation-name: girar;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.welcomeheader_logodos {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 715px;
  top: 450px;
  animation: alternate infinite mover 2s;
}
.welcomeheader_logotres {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 630px;
  top: 340px;
  animation: alternate infinite mover 2s;
}
.welcomeheader_logocuatro {
  position: absolute;
  width: 180px;
  height: 140px;
  left: 650px;
  top: 192px;
  animation: alternate infinite mover 2s;
}
.welcomeheader_logoquinto {
  position: absolute;
  width: 160px;
  height: 130px;
  left: 750px;
  top: 95px;
  animation: alternate infinite mover 2s;
  animation-timing-function: ease-out;
}
.welcomeheader_descripcion {
  color: black;
  position: absolute;
  left: var(--lineleft);
  top: 250px;
  font-size: var(--textnormal);
}
.welcomeheader_descripcion::first-letter {
  font-weight: bold;
  font-size: 40px;
}

@keyframes mover {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(0%) translateY(15%);
  }
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-shape-divider-bottom-1666881390 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1666881390 .shape-fill {
  fill: #2777d3;
}

.welcomemain {
  position: relative;
  width: 100%;
  height: 110vh;
}
.welcomemain_imageh {
  width: 100%;
  height: 100%;
}
.welcomemain_subtitle {
  color: white;
  position: absolute;
  top: 15px;
  left: var(--lineleft);
  font-size: 25px;
}

.VistaReservar {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.Vista-Reservar__Prin {
  position: absolute;
  width: 400px;
  text-align: left;
  padding-top: 150px;
  margin-left: 50px;
}
.Vista-Reservar__Prin h1 {
  text-align: left;
  padding: 20px 0px 20px;
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.Vista-Reservar__Prin p {
  color: rgb(3, 3, 3);
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.Vista-Reservar__Prin .Vista-Reservar__Boton {
  color: rgb(0, 0, 0);
  width: 140px;
  height: 35px;
  background: linear-gradient(rgb(255, 102, 0), yellow, rgb(244, 154, 9));
  border-radius: 5px;
  border-color: black solid 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}
.Vista-Reservar__Prin .Vista-Reservar__Boton:hover {
  cursor: pointer;
  color: black;
  background: linear-gradient(rgb(79, 79, 77), rgb(252, 214, 213), rgb(214, 206, 197));
}

.Vista-Reservar__formulario {
  position: absolute;
  height: 30rem;
  width: 22rem;
  top: 50px;
  left: 65%;
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px black double;
  border-radius: 20px;
}
.Vista-Reservar__formulario label {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Vista-Reservar__formulario h2 {
  color: black;
  background: linear-gradient(rgb(255, 102, 0), yellow, rgb(238, 17, 17));
  border-radius: 20px;
  margin-top: 25px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
}

.checkoutformulario1 {
  padding-left: 20px;
  align-items: flex-start;
  padding-bottom: 30px;
}

.group-form-name {
  position: absolute;
}
.group-form-name .name {
  display: block;
  width: 300px;
  height: 25px;
}

.group-form-date {
  position: absolute;
  margin-top: 60px;
}
.group-form-date .date {
  display: block;
  width: 300px;
  height: 25px;
}

.group-form-hour {
  position: absolute;
  margin-top: 120px;
}
.group-form-hour .alertahora {
  display: flex;
}
.group-form-hour .hour {
  display: block;
  width: 120px;
  height: 25px;
}
.group-form-hour .labelhour2 {
  margin-left: 10px;
  padding-top: 11px;
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.group-form-person {
  position: absolute;
  margin-top: 180px;
}
.group-form-person .person {
  display: block;
  width: 300px;
  height: 25px;
}

.group-form-email1 {
  position: absolute;
  margin-top: 240px;
}
.group-form-email1 .email1 {
  display: block;
  width: 300px;
  height: 25px;
}

.botonreservar {
  position: absolute;
  color: rgb(12, 12, 12);
  margin-top: 320px;
  width: 150px;
  margin-left: 150px;
  height: 35px;
  background: linear-gradient(rgb(255, 102, 0), yellow, rgb(244, 154, 9));
  border-radius: 5px;
  border-color: yellow 2px solid;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 17px;
}
.botonreservar:hover {
  cursor: pointer;
  color: black;
  background: linear-gradient(rgb(79, 79, 77), rgb(252, 214, 213), rgb(214, 206, 197));
}

.cajalogin {
  background-image: url(https://images.pexels.com/photos/2642842/pexels-photo-2642842.jpeg?cs=srgb&dl=pexels-valeriia-miller-2642842.jpg&fm=jpg&_gl=1*1y97sga*_ga*MTY0OTQ1NjI1NC4xNjYyMTI1NDY0*_ga_8JE65Q40S6*MTY2NjExODkwMC4zNi4xLjE2NjYxMTk1MjIuMC4wLjA.);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 550px;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  position: relative;
  max-width: 800px;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.caja__trasera div {
  margin: 100px 40px;
  color: rgb(253, 252, 252);
  transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button {
  margin-top: 30px;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p {
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover {
  background: #fff;
  color: #0058b1;
}

/*Formularios*/
.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  /*La transicion va despues del codigo JS*/
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(80deg, var(--primarycolor), #00dfd8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: var(--primarycolor);
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.menuheader {
  position: relative;
  width: 100%;
  height: 100vh;
}
.menuheader_fondo {
  width: 100%;
  height: 91vh;
  filter: brightness(50%);
}

.menumain {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 200vh;
  background-color: rgb(255, 255, 255);
}
.menumain_fondo {
  padding-top: 5px;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.menumain_cajamenu {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  border-radius: 5px;
  margin-top: 30px;
  background-color: rgba(255, 0, 0, 0.479);
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 74% 84%, 48% 100%, 27% 84%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 74% 84%, 48% 100%, 27% 84%, 0 100%, 0 0);
}
.menumain_cajamenu_menu {
  color: white;
  font-size: 35px;
  font-family: var(--Sansita);
}
.menumain_encerrarcards {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 150px;
  left: var(--lineleft);
  width: 1150px;
  height: 80%;
  background-color: rgba(0, 102, 255, 0);
}

.backoffice {
  width: 200px;
  height: 655px;
  box-shadow: 0 10px 16px var(--primarycolor);
}
.backoffice_menuheader {
  width: 100%;
  height: 10%;
}
.backoffice_menuheader_informacion {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.backoffice_menuheader_informacion_logo {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  animation: alternate infinite mover 2s;
  animation-timing-function: ease-out;
}
.backoffice_menuheader_informacion_titulo {
  font-family: var(--Sansita);
  font-size: 20px;
}
.backoffice_menuheader_informacion_titulo::first-letter {
  font-weight: bold;
  font-size: 30px;
}
.backoffice_opciones {
  padding-top: 25px;
  align-items: center;
  width: 100%;
  height: 75%;
  flex-direction: column;
}
.backoffice_opciones_enlace {
  text-decoration: none;
}
.backoffice_opciones_boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 10%;
}
.backoffice_opciones_boton:hover {
  background-color: var(--secundarycolor);
  color: white;
  transform: scale(0.8);
}
.backoffice_footer {
  width: 100%;
  height: 15%;
}
.backoffice_footer_iconos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: alternate infinite mover 2s;
  animation-timing-function: ease-out;
  padding-top: 20px;
}
.backoffice_footer_boton {
  width: 95%;
  height: 30px;
}
.backoffice_footer_boton:hover {
  background-color: var(--secundarycolor);
  color: white;
  transform: scale(0.8);
}

.Conocenos {
  /* background-image: linear-gradient(270deg, #290d64 0, #1b0859 50%, #0b044e 100%);    */
  background-color: var(--primarycolor);
  height: 100%;
}

.tituloprin {
  text-align: center;
  position: absolute;
  margin-left: 625px;
  font-family: var(--Sansita);
  /* Animate Background Image */
}
.tituloprin body {
  font: 400 1em/1.5 "Neuton";
  background: #090d00;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
}
.tituloprin p {
  font-size: 17ppx;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
  color: #fefffa;
}
.tituloprin p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background-image: linear-gradient(180deg, #ffe951 0, #ffdd50 8.33%, #ffce51 16.67%, #ffbf52 25%, #ffae53 33.33%, #ff9c53 41.67%, #f28953 50%, #e17852 58.33%, #d06951 66.67%, #c25c51 75%, #b55252 83.33%, #aa4a53 91.67%, #a04455 100%);
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.fotos {
  display: flex;
  padding-top: 170px;
}
.fotos .foto2 {
  position: absolute;
  width: 1240px;
  height: 420px;
  display: flex;
  padding-top: 50px;
}
.fotos .foto3 {
  position: absolute;
  margin-left: 450px;
  width: 350px;
  height: 350px;
}

.seccion0 {
  display: flex;
}
.seccion0 .foto4 {
  width: 777px;
  height: 300px;
}
.seccion0 .seccion1 {
  margin-left: 15px;
  background-image: linear-gradient(180deg, #ffff7c 0, #ffff6f 12.5%, #fff565 25%, #ffda5c 37.5%, #f2bd53 50%, #dda14c 62.5%, #c98a46 75%, #b77642 87.5%, #a8663f 100%);
  display: block;
  width: 450px;
  height: 300px;
}
.seccion0 .seccion1 h2 {
  padding-top: 30px;
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.seccion0 .seccion1 p {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 35px;
  text-align: center;
  color: black;
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 17px;
}

.seccion2 {
  display: flex;
  height: 300px;
  margin-left: 15px;
}
.seccion2 h3 {
  postion: relative;
  width: 855px;
  background-image: linear-gradient(180deg, #ffff7c 0, #ffff6f 12.5%, #fff565 25%, #ffda5c 37.5%, #f2bd53 50%, #dda14c 62.5%, #c98a46 75%, #b77642 87.5%, #a8663f 100%);
  margin-right: 20px;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
  color: rgb(9, 9, 9);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.seccion2 p {
  margin-top: 80px;
  margin-left: 810px;
  width: 400px;
  height: 100px;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 20px;
  position: absolute;
  text-align: center;
  color: black;
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 18px;
}
.seccion2 .seccion3 {
  display: block;
}
.seccion2 .seccion3 .foto5 {
  margin-right: 800px;
  width: 800px;
  height: 300px;
}

.video {
  margin-top: 420px;
}

.slide {
  margin-top: 20px;
  margin-left: 15px;
  width: 1230px;
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.tamaño {
  width: 100%;
}

.slide-item img {
  height: 500px;
  display: block;
}

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.slide-circulo:hover {
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
  color: #428bca;
}

#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.parrafos {
  display: flex;
  justify-content: space-between;
}
.parrafos p {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
  width: 500px;
}
