.cajalogin{
    background-image: url(https://images.pexels.com/photos/2642842/pexels-photo-2642842.jpeg?cs=srgb&dl=pexels-valeriia-miller-2642842.jpg&fm=jpg&_gl=1*1y97sga*_ga*MTY0OTQ1NjI1NC4xNjYyMTI1NDY0*_ga_8JE65Q40S6*MTY2NjExODkwMC4zNi4xLjE2NjYxMTk1MjIuMC4wLjA.);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 550px;
}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    max-width: 800px;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
   
}

.caja__trasera div{
    margin: 100px 40px;
    color: rgb(253, 252, 252);
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: rgb(255, 255, 255);
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #0058b1;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(80deg, var(--primarycolor), #00dfd8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: var(--primarycolor);
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}
