.welcomeheader {
    position: relative;
     width: 100%;
     height: 100vh;
     
    &_title {
        font-family: var(--Sansita);
        left: var(--lineleft);
        font-size: var(--title);
        position: absolute;
        top: 140px;
        color: black;
        letter-spacing: 3px;
    }

    &_logo{
        position: absolute;
        width: 360px;
        height: 320px;
        left: 909px;
        top: 190px;
        animation-name: girar;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        
    }
    &_logodos{
        position: absolute;
        width: 200px;
        height: 150px;
        left: 715px;
        top: 450px;
        animation: alternate infinite mover 2s;
    }
    &_logotres{
        position: absolute;
        width: 200px;
        height: 150px;
        left: 630px;
        top: 340px;
        animation: alternate infinite mover 2s;
    }
    &_logocuatro{
        position: absolute;
        width: 180px;
        height: 140px;
        left: 650px;
        top: 192px;
        animation: alternate infinite mover 2s;
    }
    &_logoquinto{
        position: absolute;
        width: 160px;
        height: 130px;
        left: 750px;
        top: 95px;
        animation: alternate infinite mover 2s;
        animation-timing-function:ease-out ;
    }
    &_descripcion{
        color:black;
        position: absolute;
        left: var(--lineleft);
        top: 250px;
        font-size: var(--textnormal);
        &::first-letter{
            font-weight: bold;
            font-size: 40px;
        }
    }
   
}
@keyframes mover {
 from{
transform: translateX(0%);
 }  
 to{
transform: translateX(0%) translateY(15%);
 } 
}
@keyframes girar {
    from{
   transform: rotate(0deg);
    }  
    to{
   transform: rotate(360deg);
    }}
.custom-shape-divider-bottom-1666881390 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1666881390 .shape-fill {
    fill: #2777d3;
}